asyncio-dgram==2.1.0     
cachelib==0.2.0
certifi==2021.5.30       
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
dnspython==2.1.0
Flask==2.0.1
Flask-Session==0.4.0     
idna==3.2
itsdangerous==2.0.1      
Jinja2==3.0.1
MarkupSafe==2.0.1
mcstatus==10.0.0
plumbum==1.7.0
psutil==5.8.0
psycopg2==2.9.1
pypiwin32==223
pywin32==301
requests==2.26.0
rpyc==5.0.1
six==1.16.0
urllib3==1.26.6
Werkzeug==2.0.1
wexpect==4.0.0