<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Filename</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for jar in jar_data %}
    <tr>
      <th class="align-middle" scope="row">{{ loop.index }}</th>
      <td class="align-middle">{{ jar.name }}</td>
      <td class="align-middle">{{ jar.file }}</td>

      <td>
          <!-- Edit Button -->
          <a id="edit-button" href="" class="btn-floating btn-info"><i class="fas fa-pen fa-lg" aria-hidden="true"></i></a>
          

          <!-- Delete Button -->
          <a id="delete-button" type="button" data-id="" class="btn-floating btn-danger"><i class="fas fa-trash fa-lg" aria-hidden="true"></i></a>  
     </td>

    </tr>
    {% endfor %}


  </tbody>