<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>

    {% for user in user_data %}
    <tr>
      <th class="align-middle" scope="row">{{ loop.index }}</th>
      <td class="align-middle">{{ user.username }}</td>
      <td class="align-middle">{{ user.email }}</td>

      <td>

          <!-- Edit Button -->
          <a id="edit-button" type="button" data-id="{{ user.id }}" class="btn-floating btn-info"><i class="fas fa-pen fa-lg" aria-hidden="true"></i></a>

          <!-- Delete Button -->
          <a id="delete-button" type="button" data-id="{{ user.id }}" class="btn-floating btn-danger"><i class="fas fa-trash fa-lg" aria-hidden="true"></i></a>

      </td>
    </tr>
    {% endfor %}


  </tbody>