{% extends "layout.html" %}

{% block title %}Servers{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
<li><a class="active" href="{{ url_for ('servers') }}">Servers</a></li>
<li><a href="{{ url_for ('users') }}">Users</a></li>
<li><a href="{{ url_for ('settings') }}">Settings</a></li>
<li><a href="#">Support</a></li>
{% endblock %}

{% block header %}Servers<span class="table-add float-right mb-3 mr-2"><a href="#" data-toggle="modal" data-target="#modalCreate" class="text-success"><i
  class="fas fa-plus" aria-hidden="true"></i></a></span>{% endblock %}

{% block test %}

{% endblock %}


{% block body %}

<!-- Modal: Create Server -->
<div class="modal fade right" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Create Server
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <!-- <div class="text-center">
          <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
          <p>
            <strong>Your opinion matters</strong>
          </p>
          <p>Have some ideas how to improve our product?
            <strong>Give us your feedback.</strong>
          </p>
        </div>

        <hr> -->
        <form id="formCreate" action="{{ url_for ('create') }}" method="post" class="needs-validation" >

        <p class="text-center">
          <strong>What's your server name?</strong>
        </p>
        <!--Basic textarea-->
        <div class="md-form">
          <input name="name" type="text" id="nameInput" class="md-textarea form-control" required></input>
          <div class="invalid-feedback">
            Please provide a server name.
          </div>
        </div>


        <p class="text-center">
          <strong>How much memory do you want? (In MB)</strong>
        </p>
        <!--Basic textarea-->
        <div class="md-form">
          <input name="memory" type="number" min="1024" id="memoryInput" class="md-textarea form-control" value="1024" required></input>
          <div class="invalid-feedback">
            Please provide a memory amount..
          </div>
        </div>


        <p class="text-center">
          <strong>How many slots?</strong>
        </p>
        <!--Basic textarea-->
        <div class="md-form">
          <input name="slots" type="number" min="1" id="slotsInput" class="md-textarea form-control" value="10" required></input>
          <div class="invalid-feedback">
            Please provide a desired slots.
          </div>
        </div>

        <p class="text-center">
          <strong>Which port to use?</strong>
        </p>
        <!--Basic textarea-->
        <div class="md-form">
          <input name="port" type="number" min="1024" max="49152" id="portInput" class="md-textarea form-control" value="25565" required></input>
          <div class="invalid-feedback">
            Please select a port.
          </div>
        </div>


        <p class="text-center">
          <strong>Which version to use?</strong>
        </p>
        <!--Basic textarea-->
        <div class="md-form">

          <select id="jarInput" name="jar" class="browser-default custom-select" required>
            <option value="vanilla_1.16.3" selected>Vanilla 1.16.3</option>
            <option value="spigot">Spigot</option>
            <option value="cauldron">Cauldron</option>
            <option value="bukkit">Bukkit</option>
          </select>

          <div class="invalid-feedback">
            Please select a jar.
          </div>
        </div>


        <p class="text-center">
          <strong>Do you agree to Minecraft's EULA?</strong>
        </p>

          <!-- Material unchecked -->
          <div id="checkEula" class="form-check">
            <input name="eula" type="checkbox" class="form-check-input" id="eulaInput" required>
            <label class="form-check-label" for="eulaInput">I agree</label>
            <div class="invalid-feedback">
              You must agree before creating a server.
            </div>
          </div>

        

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button class="btn btn-primary waves-effect waves-light" type="submit">Create</button>
        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
      </div>

    </form>

    </div>
  </div>
</div>
<!-- Modal: Create -->

<div id="alert-container"></div>

<table class="table table-striped servers-table">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    {% for server in server_data %}
    <tr>
      <th class="align-middle" scope="row">{{ loop.index }}</th>
      <td class="align-middle">{{ server[1] }}</td>
      <td class="align-middle">

        {% if players[loop.index - 1] == "Offline" %}
          Offline
        {% else %}
          Online ({{ players[loop.index - 1] }}/{{ server[3] }} Players)
        {% endif %}

      </td>

      <td>

        {% if players[loop.index - 1] == "Offline" %}

          <!-- Start Button -->
          <a id="start-button" type="button" data-id="{{ server[0] }}" class="btn-floating btn-success"><i class="fas fa-play fa-lg" aria-hidden="true"></i></a>

          <!-- Edit Button -->
          <a type="button" class="btn-floating btn-info"><i class="fas fa-pen fa-lg" aria-hidden="true"></i></a>

          <!-- Delete Button -->
          <a id="delete-button" type="button" data-id="{{ server[0] }}" class="btn-floating btn-danger"><i class="fas fa-trash fa-lg" aria-hidden="true"></i></a>

        {% else %}

          <!-- Restart Button -->
          <a id="restart-button" data-id="{{ server[0] }}" type="button" class="btn-floating btn-warning"><i class="fas fa-redo-alt fa-lg" aria-hidden="true"></i></a>

          <!-- Stop Button -->
          <a id="stop-button" data-id="{{ server[0] }}" type="button" class="btn-floating btn-deep-orange"><i class="fas fa-stop fa-lg" aria-hidden="true"></i></a>

          <!-- Edit Button -->
          <a type="button" class="btn-floating btn-info"><i class="fas fa-pen fa-lg" aria-hidden="true"></i></a>
        {% endif %}      


      </td>
    </tr>
    {% endfor %}


  </tbody>

</table>


{% endblock %}



{% block custom_scripts %}

<!-- Script that uses ajaxSetup to configure csrf token when using ajax for POST -->
<script>

  $.ajaxSetup({ 
       beforeSend: function(xhr, settings) {
           function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie != '') {
                   var cookies = document.cookie.split(';');
                   for (var i = 0; i < cookies.length; i++) {
                       var cookie = jQuery.trim(cookies[i]);
                       // Does this cookie string begin with the name we want?
                       if (cookie.substring(0, name.length + 1) == (name + '=')) {
                           cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                           break;
                       }
                   }
               }
               return cookieValue;
           }
           if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
               // Only send the token to relative URLs i.e. locally.
               xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
           }
       } 
  });
  
</script>


<!-- Function that refreshes/updates the table via ajax -->
<script>

  function refreshTable(){
  
    var tableDiv = $(".servers-table");
  
    $.ajax({
              cache: false,
              dataType: 'html',
              url: '/servers/fetch',
              success: function(data) {
                tableDiv.html(data);
              },
              error: function(data){
                $('#alert-container').html("<div class='alert alert-danger alert-dismissible fade show' role='alert'><strong>Oops!</strong> We were unable to load server data. Please refresh your page.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>")
              }
          
            });
  
  }
  
</script>

<!-- Handles/submits form that adds the server -->
<script>

  $(document).on('submit', '#formCreate', function(e){
  
  e.preventDefault();
  
  $.ajax({
    type: 'POST',
    cache: false,
    url: '/servers/create',
    data:{
      name:$('#nameInput').val(),
      slots:$('#slotsInput').val(),
      port:$('#portInput').val(),
      memory:$('#memoryInput').val(),
      jar:$('#jarInput').val(),
      eula:$('#eulaInput').val()
    },
    success: function(){
      $('#modalCreate').modal('hide');
      refreshTable()
    },
    complete: function(){
      $('#formCreate')[0].reset();
    }
  
  });
  
  });
  
</script>

<!-- Handles the delete button POST request -->
<script>
      
  $(document).on('click', '#delete-button', function(e){
    $.ajax({
      type: 'POST',
      cache: false,
      url: '/servers/remove',
      data:{
        server_id:$(this).attr("data-id")
      },
      success: function(){
        refreshTable()
      }


    });

  });

</script>

<!-- Handles the start button POST request -->
<script>
      
  $(document).on('click', '#start-button', function(e){
    $.ajax({
      type: 'POST',
      cache: false,
      url: '/servers/start',
      data:{
        server_id:$(this).attr("data-id")
      },
      success: function(){
        refreshTable()
      },
      error: function(xhr, status, error) {
        refreshTable()
        $('#alert-container').html("<div class='alert alert-danger alert-dismissible fade show' role='alert'><strong>Oops!</strong> We were unable to start your server. Please try again.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>")

      }

    });

  });

</script>

<!-- Handles the stop button POST request -->
<script>
      
  $(document).on('click', '#stop-button', function(e){
    $.ajax({
      type: 'POST',
      cache: false,
      url: '/servers/stop',
      data:{
        server_id:$(this).attr("data-id")
      },
      success: function(){
        refreshTable()
      },
      error: function(xhr, status, error) {
        refreshTable()
        $('#alert-container').html("<div class='alert alert-danger alert-dismissible fade show' role='alert'><strong>Oops!</strong> We were unable to stop your server. Please try again.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>")
      }

    });

  });

</script>

<!-- Handles the restart button POST request -->
<script>
      
  $(document).on('click', '#restart-button', function(e){
    $.ajax({
      type: 'POST',
      cache: false,
      url: '/servers/restart',
      data:{
        server_id:$(this).attr("data-id")
      },
      success: function(){
        refreshTable()
      },
      error: function(xhr, status, error) {
        refreshTable()
        $('#alert-container').html("<div class='alert alert-danger alert-dismissible fade show' role='alert'><strong>Oops!</strong> We were unable to restart your server. Please try again.<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>")
      }

    });

  });

</script>

{% endblock %}